<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<mappers>
	<!--映射DAO类配置文件-->		
		<mapper resource= "com/newer/datang/data/dao/TTaskMapper.xml"/>
		<mapper resource= "com/newer/datang/data/dao/TPlanMapper.xml"/>
		<mapper resource= "com/newer/datang/data/dao/TEmployeeMapper.xml"/>
		<mapper resource= "com/newer/datang/data/dao/TRoleMapper.xml"/>
	</mappers>
</configuration>