<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<mappers>
	<!--映射DAO类配置文件-->		
		<mapper resource= "com/newer/hysc/data/dao/UploadtempMapper.xml"/>
	</mappers>
</configuration>